@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background:#000 url(../img/bg.jpg) center center / cover no-repeat fixed;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: calc(100dvh);
}

.center h1 {
    color: #fff;
    font-size: 50px;

}

.center {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 300rem; */
}

/* section {
    background: rgba( 0, 0, 0 , 0.5);
    padding: 150px 250px 150px 250px;
    border-radius: 15px;
} */

section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.center section div a {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    padding: 12px 28px;
    border-radius: 50px;
    transition: all .25s ease-in-out;
}

.center div a:hover {
    background-color: #000;
    color: #fff;
}

.quote-container,
.btn-container {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
}